# Monorepo Global Environment Variables
NODE_ENV=development

# Database Configuration
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/campus_infra_db?schema=public"

# App Ports
PORT_BACKEND=3001
PORT_FRONTEND=3000

# Public URLs
NEXT_PUBLIC_API_URL="http://localhost:3001"
